<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Boleto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container bg-light" style="width:400px; padding: 1%;">
        <form method="POST" onsubmit="calcularTotal(event)">
            <div class="form-group">
                <label for="numBoleto">Num. de boleto</label>
                <input type="number" class="form-control" id="numBoleto" name="numBoleto" required="true">
            </div>
            <div class="form-group">
                <label for="destino">Destino</label>
                <input type="text" class="form-control" id="destino" name="destino" required="true">
            </div>
            <div class="form-group">
                <label for="nombreCliente">Nombre del cliente</label>
                <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" required="true">
            </div>
            <div class="form-group">
                <label for="añosCumplidos">Años cumplidos</label>
                <input type="number" class="form-control" id="añosCumplidos" name="añosCumplidos" required="true">
            </div>
            <div class="form-group">
                <label for="tipoViaje">Tipo de viaje</label>
                <select class="form-control" id="tipoViaje" name="tipoViaje">
                    <option value="1">Sencillo</option>
                    <option value="2">Doble</option>
                </select>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" required="true">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Calcular</button>
            <button type="reset"  onclick="limpiar()" class="btn btn-secondary" >Limpiar</button>
        </form>
        <div id="resultados" ></div>
    </div>
<%-include('partials/piePagina.html')%>
</body>
</html>
<script>
    function calcularTotal(event) {
      event.preventDefault();
        
      const precio = Number(document.getElementById('precio').value);
      const tipoViaje = Number(document.getElementById('tipoViaje').value);
      const añosCumplidos = Number(document.getElementById('añosCumplidos').value);
  
      let subtotal = 0;
      if (tipoViaje === 1) {
        subtotal = precio;
      } else if (tipoViaje === 2) {
        subtotal = precio + (precio * 0.8);
      }
  
      const impuesto = subtotal * 0.16;
  
      let descuento = 0;
      if (añosCumplidos >= 60) {
        descuento = (subtotal + impuesto)* 0.5;
      }
  
      const total = subtotal + impuesto - descuento;
  
      const resultadosDiv = document.getElementById('resultados');
      resultadosDiv.innerHTML = `
      <div class="table-responsive mt-3">
        <label for="subtotal">Subtotal:</label>
        <input type="text" id="subtotal" value="${subtotal}" readonly><br>

        <label for="impuesto">Impuesto (16%):</label>
        <input type="text" id="impuesto" value="${impuesto}" readonly><br>

        <label for="descuento">Descuento:</label>
        <input type="text" id="descuento" value="${descuento}" readonly><br>

        <label for="total">Total a pagar:</label>
        <input type="text" id="total" value="${total}" readonly><br>
      `;
    }
    function limpiar() {
        const resultadosDiv = document.getElementById('resultados');
        resultadosDiv.innerHTML = "";

}
</script>
